body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
  background-image: url(https://p1-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/2ac35929aa1146b1afd954acbaa6fbc1~tplv-k3u1fbpfcp-watermark.awebp?);
  background-size: cover;
}

h1 {
  color: #e8d9b9;
  text-align: center;
  font-weight: 500;
  text-shadow: 5px 5px 7px #e8d9b9;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.buttonImage {
  border-radius: 15px;
  height: 500px;
  width: 300px;
}
button {
  border: 3px solid #e8d9b9;
  transition: all 150ms ease-in-out;
  display: block;
  margin: 0 auto 40px;
  padding: 0;
  border-radius: 13px;
  box-shadow: 5px 5px 7px #e8d9b9;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

h3 {
  text-align: center;
  color: #e8d9b9;
  background-color: transparent;
  font-family: cursive;
  font-weight: 100;
  border-radius: 7px;
  margin: 30px 100px;
}

h2 {
  text-align: center;
  font-family: fantasy;
  font-weight: 200;
  color: #e8d9b9;
  margin: 0 0 20px;
  letter-spacing: 0.2rem;
}

ul {
  list-style: none;
  padding: 0;
}
li.learnMore {
  padding: 15px;
  display: inline;
}

.zodiacWheel {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.astrologyInfo {
  text-align: justify;
  background-color: #000;
  color: #e8d9b9;
  font-size: 18px;
  font-weight: 100;
  margin: 15px 100px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: gold;
  transition: all 150ms ease-in-out;
}
a:hover {
  cursor: pointer;
  opacity: 0.9px;
  color: #e8d9b9;
}

span {
  display: table;
  margin: 20px auto;
  color: #e8d9b9;
  font-family: monospace;
}
